/* css reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* sets the background color to off white */
body {
    background-color: #d9dcd6;
}

/* sets font family, backgorund color, and font color */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* sets text to top of the page and sets font size */
h1 {
    display: inline-block;
    font-size: 48px;
}

/* sets text color to off white */
.seo {
    color: #d9dcd6;
}

/* defines margins of header, and sets font family and font size */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* removes dots from header list  */
ul {
    list-style-type: none;
}

/* defines top header */
li {
    display: inline-block;
    margin-left: 25px;
}

/* sets color and removes any text decoration  */
a {
    color: #ffffff;
    text-decoration: none;
}

/* sets font size */
p {
    font-size: 16px;
}

/* sets main image size, margin, and postion */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./assets/images/digital-marketing-meeting.jpg") ;
    background-size: cover;
    background-position: center;
}

/* defines boxes within body with background color and sets font color, size, and font family */
.main-plus {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* sets max height of images */
.main-plus img {
    max-height: 200px;
}

/* sets margin and font size  */
.main-plus h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*floats image left  */
.float-left {
    float: left;
    margin-right: 25px;
}

/*floats image right  */
.float-right {
    float: right;
    margin-left: 25px;
}

/* defines content width */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* defines box within body with background color */
.benefit {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* sets bottom margin and color  */
.benefit-plus{
    margin-bottom: 32px;
    color: #ffffff;
}

/* sets margin and text alignment */
.benefit-plus h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* sets content max width and margins */
.benefit-plus img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* sets footer font family, placement, and text alignment  */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* sets font */
#copyright {
    font-size: 20px;
}
